{% extends 'base.html' %}

{% block 'content' %}

      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="haed">Update User</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/update/{{mydata.id}}" method="post">
                    {% csrf_token %}
                    {% comment %} {{message}} {% endcomment %}
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Full Name</label>
                        <input type="text" name="full_name" value={{mydata.full_name}} class="form-control" id="formGroupExampleInput">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Email Id</label>
                        <input type="text" name="email_id" value={{mydata.email_id}} class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Mobile Number</label>
                        <input type="text" name="mobile_num" value={{mydata.mob_num}} class="form-control" id="formGroupExampleInput">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Password</label>
                        <input type="text" name="pass" class="form-control" value={{mydata.password}} id="formGroupExampleInput2" >
                    </div>
                    <div class="mb-3">
                       <input type="submit" value="Add User" class="btn btn-success">
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>

      </div>

{% endblock 'content' %}